body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
}

#menu {
    text-align: center;
}

canvas {
    border: 2px solid #fff;
    background-color: #4caf50;
}

#info {
    text-align: center;
    color: white;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    background-color: #ff9800;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}
